<h3>Week Days</h3>
<ul *ngFor="let day of weekdays; let i=index">
<li>{{i+1}}---{{day}}</li>
</ul>

<ng-container *ngIf="age>=26;else elseTemplate">
<b>Suitable for marriage</b>
</ng-container>
<ng-template #elseTemplate>
    <u>Not Ready</u>
</ng-template>
<hr>
<ul *ngFor="let day of weekdays">
<ng-container *ngIf="(day=='sunday'|| day=='saturday');else elseTemp">
<li style="color: red;">{{day}} is weekend</li>
</ng-container>

<ng-template #elseTemp>
    <li style="color: blue;">{{day}} is working day</li>
</ng-template>
</ul>
<hr>
Id:{{emp.id}}<br>
Name:{{emp.name}}<br>
Salary:{{emp.salary}}<br>
City:{{emp.city}}<br>
<hr>
<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>City</th>
    </thead>
    <tbody>
        <tr *ngFor="let emp of emplist">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.city}}</td>
        </tr>
    </tbody>
</table>
