<h1>Student Registration Form</h1>
<hr>
<form #stdForm="ngForm" (ngSubmit)="RegisterStudent(stdForm)">
    <div>
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" type="text" ngModel>
    </div>

    <div>
        <label for="lastname">Last Name</label>
        <input id="lastname" name="lastname" type="text" ngModel>
    </div>

    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="text" ngModel>
    </div>

    <div>
        <label>Gender</label>
        <input type="radio" name="gender" value="male" checked [(ngModel)]="gender">Male
        <input type="radio" name="gender" value="female" [(ngModel)]="gender">Female
    </div>

    <div>
        <input type="checkbox" id="ismarried" name="ismarried" [(ngModel)]="ismarried">Married
    </div>

    <div>
        <label for="city">City</label>
        <select id="city" name="city" [(ngModel)]="CityId">
            <option value="1">Mumbai</option>
            <option value="2">Pune</option>
            <option value="3">Chennai</option>
            <option value="4">Delhi</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>