<h2>Editing Movie</h2>
<hr> 
<form (ngSubmit)="EditData(moviedata)" #movieform="ngForm">
    <div>
        <label for="id">ID</label>
        <input type="text" id="id" name="id" readonly [(ngModel)]="moviedata.id">
    </div>
    <div>
        <label for="name">Movie Name</label>
        <input type="text" id="name" name="name" placeholder="Enter movie name" [(ngModel)]="moviedata.name"
        required #name="ngModel">
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="text" id="rating" name="rating" placeholder="Enter rating" [(ngModel)]="moviedata.rating"
         #rating="ngModel" min="1" max="3">
    </div>
    <div>
        <label for="year">Year</label>
        <input type="text" id="year" name="year" placeholder="Enter year" [(ngModel)]="moviedata.yearrelease"
        required #yearrelease="ngModel">
    </div>
    <input type="submit" class="btn btn-primary" value="Edit Movie" [disabled]="!movieform.valid">
    

</form>